/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}


/*ETIQUETAS*/
body{	
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Franklin Gothic Heavy';
color: white;
margin-left: 10px;
font-size: 55px;
text-align: center; 
}

h2{
font-family: 'Franklin Gothic Book', bold;
color: white;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}

h3{
font-family: 'Franklin Gothic Book', cursive;;
color: white;
font-size: 30px;
text-align: center; 
}


header{
	width: 1000px;
	height: 123px;	
}

nav{
	width: 995px;	
	height: 50px;
	background: #FFFFFF
	border: solid;
	border-color: #b3b3b3
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

ul{
	width: auto;
	padding-top: 4px;
}
ul ul{
	margin: 0;
	display: none;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 4px
}

li li a{
	
	text-decoration: none;
}

li li{
	
	float: left;
	list-style-type: none;
}

li ul{
	width: 200px;
	display: none;
	background: #FFFFFF;
	position: absolute;
	margin: 0;
	border-radius: 10px;
}

li:hover ul{
	display: block;
}

a{
	text-decoration: none;
	font-size: 18px;
	color: #005883;	

}


section{
	width: 700px;
	background: #b3b3b3;
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 5px;
}
aside{

	width: 280px;
	background: #b3b3b3;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
}

footer{
width: 1000px;
height: 70px;
background: maroon;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}
















